accelerate
bs4
datasets
evaluate
frontend
language-tool-python
matplotlib
numpy
pandas
PyMuPDF
reportlab
requests
rougue_score
sacrebleu
selenium
streamlit
streamlit-option-menu
torch
torchvision
transformers